body {
  background-image: url('https://www.space.gov.il/sites/default/files/earth-1990298_1920.jpg'); 
  background-size: cover;       
  background-position: center;   
  background-attachment: fixed;  
  transition: background 0.7s ease; 
  direction: rtl;
  font-family: Arial, sans-serif;


    
  direction: rtl;
  font-family: Arial, sans-serif;
}

#search-container.moved-up {
  transform: translateY(-150px);
  transition: transform 0.5s ease;
}